<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baranaydogdu.mymarmaris">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Appmain"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".AdminPages.SelectClon"></activity>
        <activity android:name=".VideoFullScrenn" />
        <activity
            android:name=".GirisEkran"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdminPages.NotificationCreate"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminPages.AdminPageEnterence"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlaceActivities.PlaceView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlaceActivities.InsideLinkCollectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EventActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EventView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TabbarFragments.MainPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlaceActivities.PharmaciesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlaceActivities.PlacesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlaceActivities.PlaceSubCollectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectLanguage"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".Services.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/app_logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>

</manifest>